@model Gyumri.Common.ViewModel.Subcategory.AddSubcategoryViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

    ViewData["Title"] = "Add Subcategory";
}

<h1>Add Article Category</h1>

<form asp-action="Add" asp-controller="Subcategory" asp-area="Admin" method="post">
    <div class="form-group">
        <label asp-for="Name" for="Name">Category Name (English)</label>
        <input asp-for="Name" type="text" class="form-control" id="Name" name="Name" required />
    </div>

    <div class="form-group">
        <label asp-for="NameArm" for="NameArm">Category Name (Armenian)</label>
        <input asp-for="NameArm" type="text" class="form-control" id="NameArm" name="NameArm" />
    </div>

    <div class="form-group">
        <label asp-for="NameRu" for="NameRu">Category Name (Russian)</label>
        <input asp-for="NameRu" type="text" class="form-control" id="NameRu" name="NameRu" />
    </div>

    <div class="form-group">
        <label asp-for="Description" for="Description">Category Description (English)</label>
        <textarea asp-for="Description" class="form-control" id="Description" name="Description" required></textarea>
    </div>

    <div class="form-group">
        <label asp-for="DescriptionArm" for="DescriptionArm">Category Description (Armenian)</label>
        <textarea asp-for="DescriptionArm" class="form-control" id="DescriptionArm" name="DescriptionArm"></textarea>
    </div>

    <div class="form-group">
        <label asp-for="DescriptionRu" for="DescriptionRu">Category Description (Russian)</label>
        <textarea asp-for="DescriptionRu" class="form-control" id="DescriptionRu" name="DescriptionRu"></textarea>
    </div>

    <div class="form-group">
        <label asp-for="CategoryId" for="CategoryId">Sections</label>
        <select asp-for="CategoryId" id="CategoryId" name="CategoryId" class="form-control" required>
            <option value="" disabled selected>Select a section</option>
            @foreach (var category in (IEnumerable<Gyumri.Common.ViewModel.Category.CategoryViewModel>)ViewBag.Categories)
            {
                <option value="@category.CategoryId">@category.Name</option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-success">Add Article Category</button>
</form>
